.alert-blue {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px #666;
    -moz-box-shadow: 0 0 15px #666;
    -ms-box-shadow: 0 0 15px #666;
    -o-box-shadow: 0 0 15px #666;
    box-shadow: 0 0 15px #666;
    position: relative;
    border-left: 10px solid #00698c;
    text-shadow: 1px 1px 0 #004d66;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/45816/noisy-bg.png") #0099cc;
    color: #fff;
    padding: 25px;
    font-family: Arial;
}

.alert-orange {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px #666;
    -moz-box-shadow: 0 0 15px #666;
    -ms-box-shadow: 0 0 15px #666;
    -o-box-shadow: 0 0 15px #666;
    box-shadow: 0 0 15px #666;
    position: relative;
    border-left: 10px solid #ce7307;
    text-shadow: 1px 1px 0 #a95f06;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/45816/noisy-bg.png") #f7941e;
    color: #fff;
    padding: 25px;
    font-family: Arial;
}




.alert-red {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px #666;
    -moz-box-shadow: 0 0 15px #666;
    -ms-box-shadow: 0 0 15px #666;
    -o-box-shadow: 0 0 15px #666;
    box-shadow: 0 0 15px #666;
    position: relative;
    border-left: 10px solid #bf0000;
    text-shadow: 1px 1px 0 #990000;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/45816/noisy-bg.png") red;
    color: #fff;
    padding: 25px;
    font-family: Arial;
}




.alert-green {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px #666;
    -moz-box-shadow: 0 0 15px #666;
    -ms-box-shadow: 0 0 15px #666;
    -o-box-shadow: 0 0 15px #666;
    box-shadow: 0 0 15px #666;
    position: relative;
    border-left: 10px solid #004000;
    text-shadow: 1px 1px 0 #001a00;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/45816/noisy-bg.png") green;
    color: #fff;
    padding: 25px;
    font-family: Arial;
}




.alert-gray {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px #666;
    -moz-box-shadow: 0 0 15px #666;
    -ms-box-shadow: 0 0 15px #666;
    -o-box-shadow: 0 0 15px #666;
    box-shadow: 0 0 15px #666;
    position: relative;
    border-left: 10px solid #464646;
    text-shadow: 1px 1px 0 #333333;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/45816/noisy-bg.png") #666666;
    color: #fff;
    padding: 25px;
    font-family: Arial;
}




.alert-sm {
    padding: 15px !important;
    width: 50%;
}

.key-holder a{
    text-decoration: none;
    color: black;
}