form{
    display: inline-block;
}

form input, form button {
    padding:10px;
    display: block;
}

.no-margin-left{
    margin-left:0px !important;
}

form label{
    margin: 10px 0;
    display: block;
}

form h1 {
    margin: 0 auto;
}